body {
  background-color: rgb(255, 255, 255);
}
#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15% auto;
  width: 500px;
  border-radius: 20px;
  justify-content: center;
  background-color: #ff6d00;
}
.header {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.intro {
  display: flex;
  justify-content: center;
  padding-top: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dropdown {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-bottom: 10px;
}

.button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  border-color: #003049;
  background-color: #003049;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  box-shadow: 0 4px rgb(128, 121, 121);
}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}