:root {
  --primary-color: #4e598c;
  --secondary-color: #ff8c42;
  --tertiary-color: #fcaf58;
}

body {
  background-color: #4e598c;
  font-family: "Roboto", sans-serif;
}

nav {
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  background-color: var(--primary-color);
  height: 10vh;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

nav ul {
  display: flex;
}

.fa-heart {
  font-size: 35px;
}

/* Social Media Icons */
.social i {
  font-size: 40px;
  padding: 10px;
  justify-content: space-around;
}

.social i:hover,
.social i:focus {
  color: var(--primary-color);
}

.social .fa-facebook-square {
  color: #1877f2;
}

.social .fa-twitter-square {
  color: #1da1f2;
}

.social .fa-instagram-square {
  color: var(--secondary-color);
}

.mid-section {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/louis-hansel-cH5IPjaAYyo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 18% auto;
  width: 500px;
  height: 25vh;
  border-radius: 30px;
  justify-content: center;
  background-color: var(--secondary-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 1.5);
}

.header {
  display: flex;
  justify-content: center;
}

.header h1 {
  padding: 10px 5px;
  text-align: center;
  font-size: 25px;
}

.intro {
  display: flex;
  justify-content: center;
  padding-top: auto;
  font-family: "Roboto", sans-serif;
}

.search {
  display: flex;
  justify-content: center;
  padding-top: auto;
  font-family: "Roboto", sans-serif;
}

.dropdown {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin: 5px;
  padding-bottom: 10px;
}

.button {
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  cursor: pointer;
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  color: white;
}

.button:hover,
.button:focus {
  background-color: var(--tertiary-color);
}

.button:active {
  background-color: var(--secondary-color);
  transform: translateY(2px);
}

h2,
h4,
p {
  text-align: center;
}

.keyword-search {
  align-items: center;
  text-align: center;
}

h2 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  color: var(--primary-color);
}

p,
li {
  font-size: 20px;
}

/* Wine and Recipe Img */
.wine-img,
.recipe-img {
  display: flex;
  justify-content: center;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1.5);
}

.wine-img {
  width: 40%;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 5px;
}

.recipe-img {
  width: 60%;
  margin-bottom: 30px;
  border-radius: 10px;
}

/* Wine link */
a {
  display: flex;
  color: var(--primary-color);
  font-size: 25px;
  justify-content: center;
  padding: 25px;
  text-decoration: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.recipe-container h2 {
  color: var(--secondary-color);
  padding: 30px;
}

h4,
ul {
  font-size: 25px;
  line-height: 1.5;
}

.box {
  width: 80%;
  margin-left: 10%;
  background-color: rgba(255, 109, 0, 0.8);
  margin-top: 5%;
  padding: 20px 30px 40px 30px;
  margin-bottom: 5%;
  color: white;
}

.box h2 {
  color: white;
}

.wine {
  color: white;
}

.recipe-ingredients,
.recipe-instructions {
  margin-top: 15px;
}

.recipe-ingredients li {
  list-style: circle;
}

.recipe-instructions li {
  list-style: decimal;
}

.wine-details {
  margin-top: 15px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

  h2,
  .fa-heart,
  .social i {
    font-size: 30px;
  }
}
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

    h2,
    .fa-heart,
    .social i {
      font-size: 25px;
    }

    #container {
      width: 400px;
    }

    .header h1 {
      font-size: 20px;
    }

    p,
    li {
      font-size: 15px;
      text-align: left;
    }

    .recipe-img {
      width: 50%;
    }

    .wine-img {
      width: 30%;
    }

    a {
      font-size: 15px;
    }
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

    #container {
      width: 350px;
    }

    .button {
      border-radius: 45px;
    }

    h2,
    h4,
    ul {
      font-size: 20px;
    }
  }